body {
				font-family: Tahoma, sans-serif;
				margin: 0;
				padding: 0;
					background-color: lightgray;
				}
			
			#background-text {
			   position: absolute;
			   top: 200%;
			   left: 50%;
			   transform: translate(-50%, -50%);
			   color: white;
			   font-size: 300%;
			   text-align: bottom;
			}
			#background-text a {
			   position: absolute;
			   top: 1150%;
			   left: 50%;
			   transform: translate(-50%, -50%);
			   color: white;
			   font-size: 30px;
			   text-align: bottom;
			   padding: 20px;
			   border: 2px solid white;
			   border-radius: 20px;
			   color: white;
			   text-decoration: none;
			   transition: color 0.3s ease;
			}
			#background-text a:hover {
			   color: #EFC3A4;
			}
			

			/*Shopping Cart Button - Javascript*/			
			.shopping-cart {
				position: absolute;
				top: 30px;
				right: 30px;
				transform: translateY(-50%);
				font-size: 30px;
				color:white;
				cursor: pointer;}				
			header {
				background-color:#B0A695;
				color: black;
				padding: 5px;
				text-align: center;
				font-size: 100%;}
			nav ul {
				list-style: none;
				padding: 10px;
				margin: 10px;}
			nav ul li {
				display: inline;
				margin-right: 50px;}
			nav ul li a {
				color: #EEEEEE;
				text-decoration: none;
				font-weight: bold;}
			main {
				display: flex;
				justify-content: space-between;
				padding: 20px;
				flex-wrap: wrap;}
					/*My Footer*/
			footer {
				background-color: #31363F;
				color: white;
				text-align: center;
				padding: 15px;
				font-family: calibri;
				bottom: 0;} 
			footer div{
				flex: 1;
				margin-right: 20px;
				text-align: center;}
			footer ul{
				list-style: none; /*para mawala ang dot sa list*/
				}
			footer ul li{
				display: outline;
				margin-right: 10px;
				color: white;
				font-family: calibri;}
			footer ul li a{
				text-decoration: none;/*para mawala ang underline sa link*/
				color: white;
				font-family: calibri;}
			footer h2{
				color: saddlebrown;
				font-family: calibri;
				text-align: center;}
			#logo {
				max-width: 50px;
				border-radius: 50%;
				position: absolute;
				top: 5px;
				left: 780px;}
			figure {
				text-align: center;
			}
			figcaption {
				margin-top: 10px;
				font-weight: bold;
				font-size:40px;
			}

			#7{
				max-width: 500px;
				height: 500px;
				position: relative;
				top: -10px;
				right: -20px;}
			#6{
				max-width: 500px;
				height: 500px;
				position: relative;
				top: -10px;
				right: -10px;	
			}#2{
				max-width: 500px;
				height: 500px;
				position: relative;
				top: -10px;
				left: -20px;}
			#3{
				max-width: 500px;
				height: 500px;
				position: relative;
				top: -10px;
				right: -10px;	

			}#4{
				max-width: 500px;
				height: 500px;
				position: relative;
				top: -10px;
				left: -20px;}
			}#5{
				max-width: 500px;
				height: 500px;
				position: relative;
				top: -10px;
				left: -10px;}
